body {
    background-color: #7d1afe;
  }
  
  h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    color: wheat;
    font-size: 40px;
    text-align: center;
  }
  .elenco{
    margin-bottom: 5px ;
    margin-top: 20px;
  }

  h2 {
    margin-top: 18%;
    margin-bottom: 50px;
    color: wheat;
    font-size: 40px;
    text-align: center;
  }

  p{
    text-align: center;
    font-weight: 600;

    margin: 20px;
    font-size: 20px;
  }
  


  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
  }
  
  label {
    margin-top: 20px;
    font-size: 20px;
    color: wheat;
    align-items: center;
    justify-content: center;
  }
  
  select {
    margin-top: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: wheat;
    color: black;
  }
  
  .bottone{
    width: 7cm;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .bottone[type="submit"]:hover {
    background-color: wheat;
    color: #7d1afe;
  }

  button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  button[type="submit"]:hover {
    background-color: red;
    color: black
  }

  
  table {
    margin: auto; /* centrata orizzontalmente */
    width: 80%; /* larghezza del 80% dello schermo */
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    text-align: center; /* centrato */
    background-color: wheat;
    color: #7d1afe;
    border: 4px solid black; /* bordo bianco */
  }
  
  .ritorno{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 40px;
  }
  .ritorno > * {
    margin: 20px;
  }

  .contenitore{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contenitore input{
    border-radius: 5px;
  }
  .contenitore label{
    margin-top: 2px;
  }
  .contenitore > :first-child{
    background-color: wheat;
    width: fit-content;
    border-radius: 10px;
  }
  .contenitore > :first-child label{
    background-color: wheat;
    color: black;
  }
  .contenitore > :first-child select{
    background-color: #fff;
    color: black;
  }
  .contenitore > :first-child  button[type="submit"]{
    background-color: #7d1afe;;
    color: black;
    width: fit-content;
    margin: 5px;
  }
  .contenitore > :first-child  button[type="submit"]:hover{
    background-color: greenyellow;
    color: #7d1afe;
  }

